<div class="stories-sidebar">
  Stories I'm reading:
  <br />

  {{#each model.threads as |thread|}}
    {{link-to thread.id 'stories.read.thread' thread.id}}
    <br />
  {{/each}}

</div>

{{outlet}}
